
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url("../images/backgroundheader.png");
}

header .logo img {
    width: 150px;
    border: rgb(255, 255, 255) 2px solid;
}

header .topnav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.buscador{
    max-width: 500vw;
}
header nav ul {
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
}

.topnav {
    width: 50vw;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.topnav a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.topnav a:hover {
    color: rgb(255, 255, 255);
    font-size: 19px;
}

.topnav a.active {
    color: white;
}

.topnav ul li {
    margin: 0 18px;
    list-style: none;
    align-items: center;
}

.container {
    background-image: url("../images/background.png");
    background-repeat: repeat;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Raleway', sans-serif;
}

a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
    height: auto;
    margin-bottom: 20px;
}

.nombres {
    margin-bottom: 15px;
}

.titulo {
    padding-top: 45px;
    font-size: 20px;
    padding-left: 32px;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.peliculas {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.peliculas article{
    width: 170px;
    margin: 0 5px;
    margin-bottom: 5px;
}


.peliculas img {
    width: 150px;
    height: 220px;
    border: white 1px solid;
    border-radius: 5px;
}

.peliculas img:hover {
    width: 175px;
    height: 235px;
}

.pelis_genero {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.pelis_genero article{
    width: 170px;
    margin: 0 5px;
    margin-bottom: 5px;
}


.pelis_genero img {
    width: 150px;
    height: 220px;
    border: white 1px solid;
    border-radius: 5px;
}

.aclickeo {
    color: white;
}

.recomendaciones {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.recomendaciones article{
    width: 170px;
    margin: 0 5px;
    margin-bottom: 5px;
}

.recomendaciones img {
    width: 150px;
    height: 220px;
    border: white 1px solid;
    border-radius: 5px;
}

.recomendaciones p {
    color: white;
}

.recomendaciones article {
    max-width: 200px;
}

.recomendacionesSerie {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.recomendacionesSerie article{
    width: 170px;
    margin: 0 5px;
    margin-bottom: 5px;
}

.recomendacionesSerie img {
    width: 150px;
    height: 220px;
    border: white 1px solid;
    border-radius: 5px;
}

.recomendacionesSerie p {
    color: white;
}

.recomendacionesSerie article {
    max-width: 200px;
}



.buscar input[type=text] {
    background-color: rgba(25, 4, 107, 0.496);
    border: solid 1px white;
    color: white;
    height: 17px;
}

.todosGeneros {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: center;
        height: 300px; 
}

.todosGeneros h2{
    color:white;
    border: solid 1px white;
    border-radius: 20%;
    padding: 10px;
    justify-content: center;

}
.inferior img{
    max-width: 350px;
    height: auto;
    margin-bottom: 10px;
}

.Trailer{
    justify-content: space-around;
}

.fotoTrailer{
    display: flex;
    flex-direction: row;
}


.containerDetallePelis{
    display: flex;
    flex-direction: column;
}
.containerDetallePelis a{
    color: white;
}
.containerDetallePelis h2{
    display: flex;
    justify-content: flex-start;
}
.containerDetallePelis p{
    display: flex;
    justify-content: flex-start;
}
.foto_trailer {
    justify-content: flex-start;
    flex-direction: row;
}
.movieDetailContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}

.movieDetailContainer ul {
    color: white;
    font-size: 20px;
}

.movieDetailContainer img {
    width: 250px;
    height: 400px;

}


.recomendaciones_2 {
    display: flex;
    flex-direction: row;
}

.recomendaciones_3 {
    display: flex;
    flex-direction: row;
}







.serieDetailContainer ul {
    color: white;
    font-size: 20px;
}

.serieDetailContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}
.detalleSerie {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.generos a {
    color: white;
}

.resultsContainer img{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 170px;
    height: 230px;
    border: white 1px solid;
    border-radius: 5px;
}

.resultsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.resultsContainer p{
    color: white;
}


.peliculas p {
    color: white;
}












@media (max-width: 420px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
    }

    header .logo img {
        border: rgb(255, 255, 255) 2px solid;
    }

    header .topnav {
        display: flex;
        width: 80vw;
        text-align: center;
    }

    header nav ul {
        display: flex;
        color: white;
        flex-direction: row;
        flex-wrap: wrap;
        padding-inline-start: 0px;
    }

    .topnav {
        display: flex;
        flex-direction: row;
    }

    .topnav a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-family: 'Exo 2', sans-serif;
        font-family: 'Raleway', sans-serif;
    }

    .topnav a:hover {
        color: rgb(255, 255, 255);
        font-size: 17px;
    }

    .topnav a.active {
        color: white;
    }

    .topnav ul li {
        margin: 0 15px;
        list-style: none;
        align-items: center;
    }

    .container {
        background-image: url("../images/background.png");
        background-repeat: repeat;
        color: white;
        font-family: 'Exo 2', sans-serif;
        font-family: 'Raleway', sans-serif;
    }

    a:visited {
        text-decoration: none;
    }

    a:link {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }

    .search input[type=text] {
        background-color: rgba(25, 4, 107, 0.496);
        border: none;
        margin-top: 8px;
        font-size: 10px;
        border: grey 1px solid;
        color: white;
        height: 20px;
    }

    .inferior {
        max-width: 100vw;
        height: 60px;
        text-align: center;
        font-size: 12px;
    }

    .titulo {
        padding-top: 20px;
        font-size: 14px;
        padding-left: 12px;
        color: white;
        font-family: 'Exo 2', sans-serif;
        font-family: 'Raleway', sans-serif;
    }

    .peliculas {
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        font-family: 'Exo 2', sans-serif;
        font-family: 'Raleway', sans-serif;
        font-size: 9px;
    }


    .peliculas img {
        width: 100px;
        height: 150px;
        border: white 1px solid;
        border-radius: 2px;
    }

    .peliculas img:hover {
        width: 105px;
        height: 155px;
    }
    .peliculas .favButton{
        font-size: 10px;
        padding: 5px 10px;
        margin-top: 10px;
    }
    .comedy {
        color: white;
    }

    .avengerssinopsis {
        display: flex;
        padding-top: 20px;
        flex-wrap: wrap;
    }

    .imageavengers img {
        height: 90px;
        max-width: 400px;
    }

    .textoavengers {
        flex-direction: column;
        padding-left: 5px;
    }

    .estrellas {
        flex-direction: row;
    }

    .generos a {
        color: white;
        font-size: 20px;
    }

    .generos {
        padding-left: 15px;
        padding-right: 5px;
    }

    .generos a:hover {
        font-size: 25px;
    }

    .peliculasgeneros {
        text-align: justify;
        padding-top: 10px;
    }


}